body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 10px;
}

.calculator {
  width: 20%;
  background-color: rgb(48, 43, 49);
  border-radius: 20px;
}

.screen {
  height: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 1rem;
}

.current-text,
.prev-text {
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  letter-spacing: 3px;
  margin-right: 2rem;
  margin-bottom: 10px;
}

.button {
  background-color: rgb(41, 27, 37);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.26);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
}

.button:hover {
  color: aliceblue;
}

.button-screen {
  background-color: rgb(41, 27, 41);
  display: grid;
  margin: 10px 0px;
  padding: 20px;
  height: 330px;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .calculator {
    width: 70%;
  }
}
